<div>
  <h1>Todo list</h1>
  <div class="create-todo">
    <app-create></app-create>
  </div>
  <div [ngClass]="{'finished': todo.finished === true}" class="todo-list" *ngFor="let todo of todos">
      <p>
        {{todo.text}}
      </p>
      <span>
        {{todo.date | date }}
      </span>
    <div class="buttons">
      <app-update *ngIf="!todo.finished" [todo]=todo></app-update>
      <app-delete *ngIf="!todo.finished" [id]="todo.id"></app-delete>
      <form [formGroup]="form" (submit)="onCheckFinished(todo)">
        <button *ngIf="!todo.finished" type="submit">
          <mat-icon aria-hidden="false" aria-label="check label">check</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
