.create-todo{
  width: 90%;
  margin: 5px auto;
}

.todo-list {
  margin: 20px auto;
  padding: 20px;
  background: #1B2529;
  width: 85%;
  border-radius: 8px;

  p{
    color: #B7DB87;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 70%;
    display: inline-block;
    word-break: break-word;
  }

  span {
    width: 30%;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: #B7C3D7;
    float: right;
  }

  button {
    margin-right: 5px;
  }

  &::after {
    display: table;
    content: '';
    clear: both;
  }

  &.finished {
    background: #75B9B4;

    p {
      color: #1B2529;
      text-decoration: line-through;
    }

    span {
      color: #1B2529;
    }
  }

  form {
    float: right;
  }
}
