<button class="create" *ngIf="createTodo; else create" (click)="changeState()">
  <mat-icon aria-hidden="false" aria-label="create icon">create</mat-icon>
</button>
<ng-template #create>
  <form [formGroup]="form" (ngSubmit)="onAddTodo()">
    <label>
      <input
        id="todo_text"
        type="text"
        formControlName="text"
        placeholder="new Todo"
      >
    </label>
    <button type="submit">
      <mat-icon aria-hidden="false" aria-label="save icon">save</mat-icon>
    </button>
  </form>
</ng-template>
