button {
  float: left;
  color: #CB656B;
  margin-top: 5px;
  padding: 0;
}

button:hover{
  color: #E38365;
}

button:after {
  content: '';
  display: table;
  clear: both;
}

:host::after{
  content: '';
  display: table;
  clear: both;
}
